Thanks for taking this class

In [ ]:
# Let's bring in pandas
import pandas as pd

In [ ]:
# Let's create a series
# A series is a one dimensional array like object
s = pd.Series([3,5,5,9,6])
s

In [ ]:
s.head()

In [ ]:
ufo = pd.read_table('http://bit.ly/uforeports',sep = ',')
ufo.head()

In [ ]:
ufo['State']

In [ ]:
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.head()

In [ ]:
ufo.shape

In [ ]:
ufo.dtypes

In [ ]:
ufo.columns

In [ ]:
ufo.drop('Colors Reported',axis = 1, inplace=True)
ufo.head()

In [ ]:
ufo.drop(['State','Time'], axis = 1, inplace=True)
ufo.head()

In [ ]:
ufo = pd.read_table('http://bit.ly/uforeports',sep = ',')
ufo.head()

In [ ]:
ufo.State.sort_values(ascending=False).head(25)

In [22]:
ufo.sort_values('City').head()

            City Colors Reported Shape Reported State              Time
1761   Abbeville             NaN           DISK    SC   12/10/1968 0:30
4553    Aberdeen             NaN       CYLINDER    WA   6/15/1981 22:00
16167   Aberdeen             NaN        VARIOUS    OH    3/29/2000 3:00
14703   Aberdeen             NaN       TRIANGLE    WA   9/30/1999 21:00
389     Aberdeen          ORANGE         CIRCLE    SD  11/15/1956 18:30

In [24]:
ufo.sort_values(['City','State']).head(25)

,City,Colors Reported,Shape Reported,State,Time
1761,Abbeville,NaN,DISK,SC,12/10/1968 0:30
2297,Aberdeen,NaN,TRIANGLE,MD,8/18/1972 1:30
9404,Aberdeen,NaN,DISK,MD,6/15/1996 13:30
16167,Aberdeen,NaN,VARIOUS,OH,3/29/2000 3:00
389,Aberdeen,ORANGE,CIRCLE,SD,11/15/1956 18:30
4553,Aberdeen,NaN,CYLINDER,WA,6/15/1981 22:00
12294,Aberdeen,NaN,FIREBALL,WA,10/4/1998 4:42
14703,Aberdeen,NaN,TRIANGLE,WA,9/30/1999 21:00
17809,Aberdeen,GREEN,FIREBALL,WA,10/29/2000 17:25
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
8783,Abilene,NaN,NaN,KS,10/14/1995 23:20
6654,Abilene,NaN,TRIANGLE,TX,9/1/1991 1:00
8357,Abilene,NaN,SPHERE,TX,7/15/1995 0:00
10883,Abilene,NaN,NaN,TX,10/19/1997 20:45
6621,Abingdon,NaN,EGG,IL,7/15/1991 23:00
10861,Abingdon,NaN,LIGHT,VA,10/15/1997 18:40
12229,Acampo,ORANGE,TEARDROP,CA,9/25/1998 20:00
6164,Accokeek,NaN,NaN,MD,8/24/1989 23:45
3534,Accord,RED,TRIANGLE,NY,6/20/1977 20:30
705,Acoma,NaN,CYLINDER,NM,5/15/1962 21:00
7263,Acton,NaN,NaN,CA,1/15/1994 23:00
10695,Acton,ORANGE,OVAL,CA,8/15/1997 0:00
14553,Acton,GREEN,FIREBALL,CA,9/11/1999 22:16
5140,Acton,RED,TRIANGLE,ME,10/1/1984 21:00
6760,Acton to Chelmsford,NaN,TRIANGLE,MA,5/10/1992 9:45